[Unit]
Description=beerbot
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/beerbot
ExecStart=/srv/beerbot/venv/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target